//FIXME as soon as possible
body{
  background-color: #EEE;
}
main.container{
  margin: 0 auto;
  width: 100%;
  // height: 700px
}
main.container:before,
main.container:after{
  content: " ";
  display: table;
  clear: both;
}

section.name{
  //align-content: center;
  border-bottom-style: ridge;
  border-bottom-color: #D3D3D3;
  h3.theoctocat{
    text-align: center;
  }
  p.octocat{
    text-align: center;
  }
}
.details{
  border-bottom-style: ridge;
  border-bottom-color: #D3D3D3;
  margin-bottom: 10px;
}

.small-rect{
  width: 25%;
  height: 700px;
  background-color: white;
  float: left;
  // display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}
.picture{
  display:block;
  width: 300px;
  height: 300px;

}
.details{
 list-style: none;
}
.data{
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.data{
  width:200px;
}
tr.mumeric > td{
  display:inline;
  width: 50px;
}
tr.numeric2 >td{
  display:inline;
  width: 50px;
}


.numeric{
  font-size: 40px;
  font-weight: bold;
  color: #4078c0;
}
.numeric2{
  font-size: 10px;
  color: #D3D3D3;
}

.big-rect{
  background-color: white;
  width: 60%;
  //height: 700px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  section{
    display: none;
  }
  section.active{
    display: block;
  }
  button.follow{
    background-color: green;
    float: right;
  }
}


nav.tabs{
  //when we use height of a line we use ex messaurament
  margin: 1ex 0;
  padding: 0 2ex;
  border-bottom: 1px solid gray;
  line-height: 20px;
  a{
    display: inline-block;
    margin-bottom: -2px;
    padding: 1ex 0.5em;
  }
  a.active{
    border: 1px solid gray;
    border-bottom-color: white;
  }
}

div.repository{
  border-bottom: 1px solid lightgray;
  margin: 3em 3em;
  padding: 1em 1em;
}
form.comments{
  display: block;
  width: 60%;
  //height: 10%;
  //background-color: lightblue;

 textarea.comment{
  width: 50%;
  margin: 1em 1em 1em 10em;

 }
 button.submit-comment{
   background-color: green;
   margin-top: 1em;
 }
}



.tabs-mobile-only{
  display: none;
}

@media only screen and (max-device-width:1000px) {
  .big-rect{
    width: 40%;
    height: 700px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 200px;
    float: right;
  }

}

@media only screen and (max-device-width: 400px){
  a#about{
    width: 100%;
  }
  .small-rect{
    width: 100%;
  }
}
@media only screen and (max-device-width: 400px){
  nav.tabs{
    display: none;
  }
  .tabs-mobile-only{
    display: inherit;
      }
    }
