   @media only screen and (max-device-width: 1024px){

     section.small-rect {
       width: 35%;
       margin-left: 7px;
       margin-right: 0;
       padding: 0;
       border-right: 0;
     }
     section.big-rect{
       margin-right: 10px;
       width: 60%;
     }
     button.follow{
       margin-left: 390px;
     }



   }
