/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 @import 'custom';

 main.container {
   width: auto;
   margin: 0 auto;
   max-width: 1200px;
 }
















/* ==========================================================================
   Helper classes
   ========================================================================== */
